<p id="notice"><%= notice %></p>

<h1>Historia zamówień</h1>

<p>
  <strong>User:</strong>
  <%= @consumer.email %>
</p>

<br>
<table>
  <thead>
    <tr>
      <th>Date ordered</th>
      <th>Date delivered</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @consumer.orders.each do |order| %>
      <tr>
        <td><%= order.date_ordered %></td>
        <td><%= order.date_delivered %></td>
        <td><%= order.lat %></td>
        <td><%= order.lon %></td>
        <td><%= order.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>