<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Date ordered</th>
      <th>Date delivered</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Status</th>
      <th>Consumer</th>
      <th>Supplier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.date_ordered %></td>
        <td><%= order.date_delivered %></td>
        <td><%= order.lat %></td>
        <td><%= order.lon %></td>
        <td><%= order.status %></td>
        <td><%= order.consumer %></td>
        <td><%= order.supplier %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
