<p id="notice"><%= notice %></p>


<h1>Przypisane zamówienia</h1>

<p>
  <strong>Supplier:</strong>
  <%= @supplier.email %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>


<table>
  <thead>
    <tr>
      <th>Numer zamówienia:</th>
      <th>Lat</th>
      <th>Lon</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @supplier.orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.lat %></td>
        <td><%= order.lon %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>